<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Configuración de ASP.NET -->
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		
		<!-- Configuración de globalización para UTF-8 -->
		<globalization 
			requestEncoding="utf-8" 
			responseEncoding="utf-8" 
			fileEncoding="utf-8" 
			culture="es-ES" 
			uiCulture="es-ES" />
	</system.web>
	
	<appSettings>
		<add key="ArchivoBackup" value="C:\Users\Santiago\Documents\UAI\CURSANDO\T1-23-36 DESARROLLO Y ARQUITECTURAS WEB\carniceria-crm\backup.bkp" />
	</appSettings>

	<!-- Cadenas de conexión -->
	<connectionStrings>
		<add name="CarniceriaCRM" 
			 connectionString="Server=.;Database=CarniceriaCRM;Integrated Security=true;" 
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Compilador Roslyn: si prefieres usar el compilador interno de .NET, puedes comentar todo este bloque -->
	<system.codedom>
		<compilers>
			<compiler
			  language="c#;cs;csharp"
			  extension=".cs"
			  warningLevel="4"
			  compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler
			  language="vb;vbs;visualbasic;vbscript"
			  extension=".vb"
			  warningLevel="4"
			  compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=&quot;Web&quot; /optionInfer+"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>

	<!-- Configuración de IIS -->
	<system.webServer>
		<!-- Documento por defecto al entrar a la raíz -->
		<defaultDocument>
			<files>
				<clear />
				<add value="Login.aspx" />
				<!-- Si luego agregas otras páginas de inicio, ponlas aquí -->
				<!--<add value="Default.aspx" />-->
			</files>
		</defaultDocument>

		<!--
    Para habilitar navegación de directorios en desarrollo:
    <directoryBrowse enabled="true" />
    -->
	</system.webServer>
</configuration>
